.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.townImage {
  height: 100vh;
}
@media (max-width: 1023px) {
  .townImage {
    display: none;
  }

  .container {
    justify-content: center;
  }
}
