.toggleWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.switchLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  display: inline-block;
  width: 40px;

  height: 24px;
  background-color: white;
  border-radius: 9999px;
  border: 1px solid #757575;
  transition: background-color 0.3s ease;
}

.slider:before {
  content: "";
  position: absolute;
  left: 1px;
  top: 2px;
  width: 18px;
  height: 18px;
  background-color: #757575;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.hiddenCheckbox:checked + .slider:before {
  transform: translateX(18px);
}

.labelText {
  color: #1e1e1e;
  text-wrap-mode: nowrap;
}
