.authForm {
  border-radius: 10px;
  background: #ffffff;
  width: 100%;
  padding: 28px 38px;
  height: 382px;
  width: 520px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
@media (max-width: 1023px) {
  .authForm {
    height: auto;
  }
}
